<element>
  <id>UMLClass</id>
  <coordinates>
    <x>[% x_coord %]</x>
    <y>[% y_coord %]</y>
    <w>[% w_coord %]</w>
    <h>[% h_coord %]</h>
  </coordinates>
  <panel_attributes>[% panel_attributes%]
  </panel_attributes>
  <additional_attributes/>
</element>