
[% namespace_declaration_content %]

[% namespace %] = function (){

    /* constants */
    [% constants_content %]

    /* private data members */
    [% private_data_members_content %]
    
};

[% setter_functions_content %]

[% getter_functions_content %]